body{
    text-align: center;
    margin: 50px 100px 50px 100px;  
    background-color: #d1cccce5;
    font-family: serif;
}
h1{
    background-color: #9cc09c;
    padding: 2px 2px;
    
}
h1{
    background-color: #5ab2fa;
    padding: 2px 100px;
}
.cabeçario{
    font-size: 28px;
    color:#ffffff;
    background-color: #000000;
    text-align: center;
    padding: 1px 10px; 
    border: 100px;
}
h2{
    color: #362f2fe5;
    text-align: center;
}
img{
    float: right;
    margin-right: 1px;
    padding: 3px 3px;
    margin: 15px;
    border-radius: 10px;
}
p{
    text-align: justify;
    display: flex;
    margin: 50px;
    font-size: 20px;
    color: #362f2fe5;
}
.data{
    float: right;
}
section{
    float: left;
}
.doish{
    text-align: center;
}
.alinharAoCentro{
    display: flex;
    justify-content: center;
    padding-left: 80px;
}
#video{
    border-radius: 10px;
    height: 315px;
    width: 560px;
}
.desh{
    float: right;
    color:#362f2fe5;
    text-align: center;
    border: 4px;
}